<?php

/**
 * Copyright 2021, 2024 5 Mode
 *
 * This file is part of Invenktory.
 *
 * Invenktory is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Invenktory is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.  
 * 
 * You should have received a copy of the GNU General Public License
 * along with Invenktory. If not, see <https://www.gnu.org/licenses/>.
 *
 * config.inc
 * 
 * Invenktory configuration settings.
 *
 * @author Daniele Bonini <my25mb@aol.com>
 * @copyrights (c) 2021, 2024, 5 Mode     
 */

define('DEBUG', true);
 
define('APP_NAME', "Invenktory");

// password: yourpassword
// salt: yoursalt
define('APP_HASH', "");

define('APP_SPLASH', true);

define('APP_SCRIPT_PATH', "/var/www/YourWebApp/Private/scripts");
define('APP_ERROR_PATH', "/var/www/YourWebApp/Private/error");
define('APP_PROMPT', "INV:~ $1$");
define('APP_SALT', "yoursalt");
define('APP_INV_PATH', "/var/www/YourWebApp/Private/Inv");

define('CMDLINE_VALIDCMDS', "~|help|ls|pwd|cd|cd ..|cp|mv|show|edit|");

// Set here the max items/devices per xml file
define('FILE_MAX_ITEMS', 10);

define('HISTORY_MAX_ITEMS', 50);

define('RECALL_HISTORY_MAX_ITEMS', 50);

$CONFIG = [

   'DEBUG' => true,

   'APP' => [
      'NAME' => "Http Console",
      'HASH' => "",  
      'SPLASH' => true,
      'SCRIPT_PATH' => "/var/www/YourWebApp/Private/scripts",
      'ERROR_PATH' => "/var/www/YourWebApp/Private/error",
      'PROMPT' => "INV:~ $1$",
      'SALT' => "yoursalt",
      'INV_PATH' => "/var/www/YourWebApp/Private/Inv"
      ],
     
    'CMDLINE' => [
       'VALIDCMDS' => "~|help|ls|pwd|cd|cd ..|cp|mv|show|edit|"  
      ],

    'FILE' => [
       'MAX_ITEMS' => 10
      ],
      
    'HISTORY' => [
       'MAX_ITEMS' => 50
      ],

    'RECALL_HISTORY' => [
       'MAX_ITEMS' => 50
      ]
    
    ];  
